<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" value="sampad-subham-somjeet">
        <meta name="keywords" value="machine learning, face detection, face recognition, object detection, object recognition, weather bot">
        <title>Project</title>
        <!--<link rel="stylesheet" href="style.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="media">
          <div class="media-left">
            <img src="/static/Images/me.jpeg" class="media-object" style="width:120px">
          </div>
          <div class="media-body">
             <br><br>
            <h4 class="media-heading">Subham Paul</h4>
            <p>B.Tech CSE, Enroll-12015002006017</p>
          </div>
        </div>

        <br>

        <div class="media">
          <div class="media-left">
            <img src="/static/Images/sampad.jpeg" class="media-object" style="width:120px">
          </div>
          <div class="media-body">
            <br><br>
            <h4 class="media-heading">Sampad Mondal</h4>
            <p>B.Tech CSE, Enroll-12015002006015</p>
          </div>
        </div>

        <br>

        <div class="media">
          <div class="media-left">
            <img src="/static/Images/baccha.jpeg" class="media-object" style="width:120px">
          </div>
          <div class="media-body">
            <br><br>
            <h4 class="media-heading">Somjeet Ganguly</h4>
            <p>B.Tech CSE,Enroll-12015002001027</p>
          </div>
        </div>

        <br>

        <div class="media">
          <div class="media-left">
            <img src="/static/Images/ratulsir.jpeg" class="media-object" style="width:120px">
          </div>
          <div class="media-body">
            <br><br>
            <h4 class="media-heading">Professor Ratul Dey</h4>
            <p>Project Mentor and Guide CSE</p>
          </div>
        </div>

        <br><br><br><br><br>
        <div class="container1">
            <a href="/index/" class="btn btn-primary btn-lg">INTRO PAGE</a>
            <a href="/login/" class="btn btn-primary btn-lg">HOME</a>
        </div>

    </body>
</html>
