<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Random</title>
    </head>
    <body>
        <form action="random.html" class="form-inline" method="get">
            <h1><p id="result">{{result}}</p></h1>
            <a href="/home/jokes/random/" style="text-decoration: none; text-align:center; border:1px solid; padding:16px; color:black;">REFRESH </a>
            <a href='/home/jokes/' style="text-decoration: none; text-align:center; border:1px solid; padding:16px; color:blue; margin:50px">BACK </a>
    </form>
    </body>
</html>
