<!DOCTYPE html>
<html>
    <head>
        <title>To-Do List</title>
        <link rel="stylesheet" href="/static/css/todos.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <script src="https://use.fontawesome.com/698bc3dbb2.js"></script>
        <script src="/static/js/lib/jquery-3.2.1.min.js">
	</script>
    </head>
    <body>
        <div id="container">
            <h1>To-Do List <i class="fa fa-pencil"></i></h1>
            <input type="text" placeholder="Add new to-do...">
            <ul>
            </ul>
        </div>
        <script src="/static/js/todos.js"></script>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <a href="/login/home/" style="border:3px solid;text-align:right; color: red;text-decoration:none;font-size: 30px;"> Go Back </a>
    </body>
</html>
